* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #becadc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .form-container {
    background-color: #e7744e;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0.5rem 0.8rem 1rem brown;
    width: 100%;
    max-width: 400px;

  }
  
  .form-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="Number"],
  input[type="select"] {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
  }
  
  input:focus {
    border-color:#007BFF;
  }
  
  .submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  #event{
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
  }
  